.footer {
  background: black;
  color: white;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px 20px;
}

.footer-text {
  color: #bdc3c7;
  line-height: 1.6;
  margin-bottom: 20px;  
  font-family: 'Titillium Web';
  font-weight: bold;
}
@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    
  font-family: 'Titillium Web';
  }
  
  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-content {
    grid-template-columns: 1fr;
    
  font-family: 'Titillium Web';
  }
}
