{% load static %}
<table id="{{ table_id }}" class="table table-striped">
    <thead>
        <tr>
            <th>Auction Info</th>
            <th>Auction Time</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for auction in auctions %}
        <tr id="auction-{{ auction.id }}">
            <td>
                <div class="d-flex align-items-center">
                    <img class="thumb-xl rounded mr-2"
                         src="{% if auction.user.profile.company and auction.user.profile.company.company_logo %}{{ auction.user.profile.company.company_logo.url }}{% else %}{% static 'admin/img/member-img/1.png' %}{% endif %}"
                         alt="user" style="width: 50px; height: 50px;">
                    <div class="ml-2">
                        <strong style="color: #480c57;">{{ auction.name }}</strong>
                    </div>
                </div>
            </td>
            <td>
                <div class="auction-time">
                    <div class="auction-time-labels"><div><strong>Bidding Start Time:</strong></div></div>
                    <div class="auction-time-values"><div>{% if auction.prebid_start_date %}{{ auction.prebid_start_date|date:"j F Y" }}{% else %}{{ auction.start_date|date:"j F Y" }}{% endif %}</div></div>
                    <div class="auction-time-times"><div>{% if auction.prebid_start_date %}{{ auction.prebid_start_date|date:"g:i A" }}{% else %}{{ auction.start_date|date:"g:i A" }}{% endif %}</div></div>
                </div>
            </td>
            <td>
                {% if auction.status == "current" %}
                    <a class="btn btn-primary btn-sm mr-1 disabled" href="#" tabindex="-1" aria-disabled="true">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm mr-1" disabled>Delete</button>
                {% else %}
                    <a href="{% url 'editauction' auction.id %}?tabId={{ tabId }}" class="btn btn-primary btn-sm">Edit</a>
                    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete({{ auction.id }})">Delete</button>
                {% endif %}
                <button type="button" class="btn btn-info btn-sm" onclick="showInventory({{ auction.id }})">View Inventory</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
