<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="footer-area footer">
                <!-- Footer Area -->
                <div class="d-sm-flex align-items-center justify-content-between">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p>Autions by <a href="#">Cyblance Technology</a></p>
                    </div>
                    <!-- Footer Nav -->
                    <ul class="footer-nav d-flex align-items-center justify-content-end">
                        <!-- <li><a href="#">About</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Purchase</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>