{% load static %}
<link rel="stylesheet" href="{% static 'admin/style.css' %}">
<div class="col-12 box-margin">
    <div class="card-body">
        <!-- Email Area -->
        <div class="d-sm-flex">
            <!-- Email View Header -->
            <div class="mail-body--area">
                <div class="mail-windoe-body-area">
                    <div class="mail-window-text-content">
                        <div class="mail-avatra d-flex align-items-center mb-15">
                            <div class="mail-avatra-text">
                                <h6 class="mb-0">Name: {{ name }}</h6>
                                <p class="mb-0">Email: {{ email }}</p>
                            </div>
                        </div>
                        <p>Your account has been successfully created. Here are your login details:</p>
                        <ul>
                            <li><strong>Email:</strong> {{ email }}</li>
                            <li><strong>Password:</strong> {{ password }}</li>
                        </ul>
                        <p>
                              <ul>
                                        <li>Thank you!</li>
                                        <li>Best Regards,</li>
                                        <li><strong>Cyblance Technology</strong></li>
                              </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
