{% load static %}
<link rel="stylesheet" href="{% static 'admin/style.css' %}">
<div class="col-12 box-margin">
    <div class="card-body">
        <!-- Email Area -->
        <div class="d-sm-flex">
            <!-- Email View Header -->
            <div class="mail-body--area">
                <div class="mail-window-body-area">
                    <div class="mail-window-text-content">
                        <div class="mail-avatar d-flex align-items-center mb-15">
                            <div class="mail-avatar-text">
                                <h6 class="mb-0">Dear, {{ fullname }}</h6>
                                <p class="mb-0">Email: {{ email }}</p>
                            </div>
                        </div>
                        <p>You're receiving this email because you requested a password reset for your user account at {{ site_name }}.</p>
                        <p>Please go to the following page and choose a new password:</p>
                        <ul>
                            <li>
                                {% block reset_link %}
                                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">{{ protocol }}://127.0.0.1:8000{% url 'password_reset_confirm' uidb64=uid token=token %}</a>
                                {% endblock %}
                            </li>
                        </ul>
                        <p>If you didn't request a password reset, you can safely ignore this email.</p>
                        <ul>
                            <li>Thank you!</li>
                            <li>Best Regards,</li>
                            <li><strong>Your Company Name</strong></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
