<!doctype html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Xvito - Admin &amp; Dashboard Template</title>
    <link rel="icon" href="{% static 'admin/img/core-img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'admin/style.css' %}">
</head>

<body>
    <div id="preloader">
        <div class="lds-hourglass"></div>
    </div>
    <div class="main-content- forget-password-area h-100vh">
        <div class="animation-bg bg-img dark-color-overlay-2" style="background-image: url({% static 'admin/img/bg-img/8.jpg' %});"></div>
        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-md-7 col-lg-5 mx-auto">
                    <div class="middle-box">
                        <h4 class="text-white">Reset Your Password</h4>
                        <p class="text-white">Please enter your new password.</p>
                        <form class="m-t" id="reset-password-form" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input id="new_password1" class="form-control password" name="new_password1" type="password" placeholder="Type Password ..">
                            </div>
                            <div class="form-group">
                                <input id="new_password2" class="form-control" name="new_password2" type="password" placeholder="Type Confirm Password ..">
                            </div>
                            <div id="message" class="mt-3 text-white"></div>
                            <div class="btn-area">
                                <button type="submit" class="btn btn-rounded btn-outline-primary py-2 px-4 btn-block mt-15 text-white">Reset Password</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/bundle.js' %}"></script>
    <script>
        // :: Preloader Active Code
        $(window).on("load", function () {
            $("#preloader").fadeOut(1000, function () {
                $(this).remove();
            });
        });
        
        $(document).ready(function () {
            $('#reset-password-form').on('submit', function (event) {
                var newPassword1 = $('#new_password1').val();
                var newPassword2 = $('#new_password2').val();
                var messageBox = $('#message');

                // Basic password validation
                if (newPassword1 !== newPassword2) {
                    event.preventDefault(); // Prevent form submission
                    messageBox.text('Passwords do not match.').css('color', 'red');
                } else {
                    messageBox.text(''); // Clear message if validation passes
                }
            });
        });
    </script>
</body>

</html>
