{% extends 'layouts/default.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-xl">
            <div class="card box-margin">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="d-flex justify-content-between align-items-center">
                                <h6 class="card-title mb-0">Permissions for {{ group.name }}</h6>
                                <a class="btn btn-primary waves-effect waves-light float-right mb-3" href="{% url 'groups' %}">Back to Roles</a>
                            </div>
                            <table class="table table-striped" id="permission_table">
                                <thead>
                                    <tr>
                                        <th>Sr. No.</th>
                                        <th>Permission Name</th>
                                        {% if group.name != "Super Admin" %}
                                        <th>Actions</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if permissions %}
                                        {% for permission in permissions %}
                                            <tr id="permission_{{ permission.id }}">
                                                <td>{{ permission.id }}</td>
                                                <td>{{ permission.name }}</td>
                                                {% if group.name != "Super Admin" %}
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete({{ group.id }}, {{ permission.id }})">Delete</button>
                                                </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="3">No permissions given yet</td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(()=>{
        $('#permission_table').DataTable({
            lengthChange: false,
            buttons: ["copy", "print"],
            language: {
                paginate: {
                    previous: "<i class='arrow_carrot-left'></i>",
                    next: "<i class='arrow_carrot-right'></i>"
                }
            },
            drawCallback: function () {
                $(".dataTables_paginate > .pagination").addClass("pagination-rounded");
            },
        })
    })
    function confirmDelete(groupId, permissionId) {
        Swal.fire({
            title: 'Are you sure you want to delete this Permission?',
            // text: "You want to revert this permission!",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!',
             // add by amisha start
            backdrop: `rgba(0,0,0,0.5)`,
            customClass: {
                popup: 'custom-popup',
                title: 'custom-title',
                content: 'custom-content',
                confirmButton: 'custom-confirm-button',
                cancelButton: 'custom-cancel-button'
            }
             // add by amisha end
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: `delete_permission/${permissionId}/`,
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.status == 'success') {
                            Swal.fire(
                                'Deleted!',
                                'Permission has been deleted.',
                                'success'
                            ).then(() => {
                                location.reload();
                            });
                        } else {
                            Swal.fire(
                                'Error!',
                                'There was an error deleting the permission.',
                                'error'
                            );
                        }
                    },
                    error: function() {
                        Swal.fire(
                            'Error!',
                            'There was an error deleting the permission.',
                            'error'
                        );
                    }
                });
            }
        });
    }
</script>
{% endblock %}
